* {
  &.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
    &:after {
      animation: spinAround 500ms infinite linear;
      border: 2px solid black;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      position: absolute;
      top: 1.25em;
      right: 1.25em;
      width: 2.5em;
      height: 2.5em;
      border-width: 0.25em;
    }
  }
}

